<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<!--引入配置文件  -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!--配置数据源c3p0  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${mysql.username}"></property>
		<property name="password" value="${mysql.password}"></property>
		<property name="jdbcUrl" value="${mysql.url}"></property>
		<property name="driverClass" value="${mysql.driverclass}"></property>
	</bean>
	
	<!--配置数据库连接 sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
	</bean>
	
	<!-- 自动生成接口实现类工具 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--指明接口包位置  -->
		<property name="basePackage" value="com.dao"></property>
		<!--把sqlSessionFactory交给该对象,使用value不要用ref -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	
	<!--事务管理  （事务管理切面对象）-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!--需要一个参数，数据源  -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!--基于配置文件的事务配置  -->
	<tx:advice id="tranAdvice" transaction-manager="transactionManager"><!--把切面对象管理给配置文件  -->
		<tx:attributes>
		<!--事务属性通过这个配置 
			name是给要加事务的方法的名字，可以根据方法的前几个单词加上*号匹配如add*
			直接*号就是匹配全部方法，不写事务属性就是默认的事务属性
		 -->
		 	<tx:method name="insert*" propagation="REQUIRED" timeout="30" isolation="READ_COMMITTED"/>
		 	<tx:method name="select*" read-only="true"/>
			<tx:method name="update*" propagation="REQUIRED" timeout="30" isolation="READ_COMMITTED"/>
			<tx:method name="delete*" propagation="REQUIRED" timeout="30" isolation="READ_COMMITTED"/>		
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* com.service..*.*(..))" id="tranExecution"/>
		<aop:advisor advice-ref="tranAdvice" pointcut-ref="tranExecution"/>
		<!--引用一个切点表达式啊,不给他切点表达式它怎么知道是在什么地方加事务 -->
	</aop:config>

</beans>
