<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.ImgManageDao">
	<select id="selectImgManage" parameterType="int" resultType="map">
		select version,style,matchStyle,url from ts_img_manage where version>#{version}
	</select>
</mapper>
